{% extends 'farms/base.html' %}

{% block body %}

    <iframe
    width="600"
    height="450"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?key=API_KEY&q=New York" allowfullscreen>
    </iframe>    


    INDEX PAGE - EXTENDED

    <form action="/login/" method="POST" id="loginButton">
        {% csrf_token %} 
        <input type="submit" name="loginButton" id="loginButton" value="login">
    </form>

    <form action="/register/" method="POST" id="registerButton">
        {% csrf_token %} 
        <input type="submit" name="registerButton" id="registerButton" value="register">
    </form>

    <!-- Gym Buddies in yout city -->

    <!-- Personal Trainers in yout city -->

{% endblock %}
